<!-- Main Footer -->
<footer class="main-footer">
  <div class="circle-layer"></div>
  <div class="auto-container">
    <!-- Footer Bottom -->
    <div class="footer-bottom">
      <div class="row clearfix">

        <!-- Copyright Column -->
        <div class="copyright-column col-lg-6 col-md-12 col-sm-12">
          <div class="copyright">Copyright 2020, All Right Reserved</div>
        </div>

        <!-- Nav Column -->
        <div class="nav-column col-lg-6 col-md-12 col-sm-12">
          <ul>
            <li><a href="about.html">SiteMap</a></li>
            <li><a href="about.html">Privacy Policy</a></li>
          </ul>
        </div>

      </div>
    </div>

  </div>
</footer>

